.pageheader {
	background-image: url('clouds_header.jpg');
}

div#content blockquote {
	font-style: italic;
	background: #ffc;
	padding: 1em;
	margin-left: 4em;
	margin-right: 4em;
	border: 1px solid #eeb;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

div#content blockquote.p {
	margin-bottom: 0;
	padding-bottom: 0;
}
